.navbar {
  background: white;
  /* Style the active class, and buttons on mouse-over */ }
  .navbar .nav-item {
    width: 90px;
    height: 90px;
    padding: 2px;
    margin-top: -13px; }
  .navbar .nav-link {
    padding: 36px;
    width: 91px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    margin-left: -10px; }
  .navbar .nav-link:hover {
    background: #f0f0f0;
    color: blue !important; }
  .navbar #btn {
    padding: 38px;
    margin-left: -17px;
    text-decoration: none; }
  .navbar #btn:hover {
    background-color: #f5f5f5;
    color: blue;
    text-decoration: none; }
  .navbar .active, .navbar .btn:hover {
    background-color: #f5f5f5;
    color: blue !important; }

/*blog front*/
.blog-video a {
  text-decoration: none;
  color: #333; }
.blog-video .far {
  font-size: 15px; }
.blog-video .fas {
  font-size: 14px; }

/* Image Blog Styling */
.search-btn {
  margin-top: 4px; }

.form-group .form-control {
  padding-left: 2.375rem; }

.form-group .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa; }

@media (max-width: 786px) {
  .data-scroll {
    margin-top: 30px; }

  #submit {
    font-size: 12px;
    margin-top: -10px; }

  #next-images {
    margin-top: 20px; }
    #next-images h6 {
      font-size: 13px; }
    #next-images p {
      font-size: 10px; } }
/* blog-images */
#blog-images {
  background: #f0f0f0; }

/*HEART CSS*/
.heart {
  cursor: pointer;
  height: 30px;
  width: 50px;
  margin-left: 5px;
  background: url("../img/web_heart_animation.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%; }

.heart:hover {
  background-position: right; }

.liked {
  background-position: right; }

.is_animating {
  animation: heart-burst 0.5s steps(28) 1; }

@keyframes heart-burst {
  from {
    background-position: left; }
  to {
    background-position: right; } }
.blog-footer {
  color: #aab8c2; }

.comment {
  border-left: 1px solid #aab8c2; }

.share .share-f {
  text-decoration: none;
  color: #999;
  font-size: 13.8px;
  margin-left: 10px; }
.share .share-f:hover {
  color: #3b5998; }
.share .share-t {
  text-decoration: none;
  color: #999;
  font-size: 13.8px;
  margin-left: 10px; }
.share .share-t:hover {
  color: #38A1F3; }
.share .share-g {
  text-decoration: none;
  color: #999;
  font-size: 13.8px;
  margin-left: 10px; }
.share .share-g:hover {
  color: #CC3333; }
.share .share-l {
  text-decoration: none;
  color: #999;
  font-size: 13.8px;
  margin-left: 10px; }
.share .share-l:hover {
  color: #0077B5; }
.share .share-p {
  text-decoration: none;
  color: #999;
  font-size: 13.8px;
  margin-left: 10px; }
.share .share-p:hover {
  color: #c8232c; }
.share span {
  margin-left: 7px;
  text-decoration: none; }
