$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

.navbar
{   
    background: white;
    .nav-item
    {
        width: 90px;
        height: 90px;
        padding: 2px;
        margin-top: -13px;
    }
    .nav-link{
        padding: 36px;
        width: 91px; 
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        margin-left: -10px;
    }
    .nav-link:hover
    {
        background: #f0f0f0;
        color:blue !important;
    }
    #btn
    {
        padding: 38px;
        margin-left: -17px;
        text-decoration: none;
    }
    #btn:hover
    {
        background-color: #f5f5f5;
        color: blue;
        text-decoration: none;
    }

      
    /* Style the active class, and buttons on mouse-over */
    .active, .btn:hover
    {
        background-color: #f5f5f5;
        color: blue !important;
    }
}

@media(max-width: 786px)
{
    .about
    {
        h1 
        {
            font-size: 25px;
        }

        p 
        {
            font-size: 15px;
        }

        
    }


    .carousel-item
    {
        height: 150px;
    }

    .main
    {
        margin-top: 20px;

        h3 
        {
            font-size: 25px;
        }

        p 
        {
            font-size: 14px;
        }
    }

    .socail-activity
    {
        h2
        {
            font-size: 25px;
        }
        p
        {
            font-size: 14px;
        }
    }

    .social-image
    {
        border: 0px !important;
    }
}

.carousel
{
    margin-top: 93px;
}

.broad 
{
    font-size: 15px;
}

.disc
{
    background:#f9f9f9 !important;
}

#social
{
    position: relative;
    background: url('../img/wood.jpg');


}

.socail-activity
{
    
    .fas
    {
        font-size: 50px;
    }

    p
    {
        font-size: 14px;
    }
} 

/* PRINT CLASS */
    .far
    {
        font-size: 50px;
    }


@media(max-width: 786px)
{
    .print-h3
    {
        font-size: 18px;
        margin-top: -13px;
    }

    .print-p
    {
        font-size: 14px;
        margin-top: -22px;
    }
    
    .Print
    {
        
        margin-top: -38px;
        height: 300px;
        .btn
        {
            font-size: 10px;
        }

        .far
        {
            font-size: 40px;
        }
        
    }

    .award
    {
        margin-top: -100px;
    }

    .award-p
    {
        font-size: 13px;
    }
    .award-h
    {
        font-size: 25px;
   
    }

    #star
    {
        font-size: 45px !important;
        margin-top: -100px !important;
    }


    .card-1
    {
        margin-top: 20px;
    }

}

#star
{
    font-size: 50px;
}


.award-p
{
    font-size: 14px;
}

.award
{  
    margin-top: 7rem;
    color: #f0f0f0
}

#edu-container
{
    background: #f0f0f0;

}

#train
{
    font-size: 14px;
}

#carier
{
    background: #eaeaea;
}

#za
{
    margin-top: 2px;
}

#news
{
    background: url('../img/news.jpg');
}

.recent-blogs
{
    .blog-link
    {
        font-size: 13px;
    }

    .blog-date
    {
        font-size: 13px;
    }
}

.footer
{
    margin-top: 1px;
}


